body{
    background: linear-gradient(to right, rgb(179, 255, 255), rgb(0, 102, 102));
    margin: 0px;
}

/* FF6347 */

.header{
    align-items: center;
    background: linear-gradient(to bottom, rgb(179, 255, 255), rgb(0, 102, 102));
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
}

.title{
    font-size: 50px;
    margin: 0px;
}