<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="login.css" rel="stylesheet" href="text/css">
    <title>Inicio Sesion</title>
</head>
<body>
    <section class="login">
        <h1 class="title">Eskina</h1>
        <section class="login__container">
            <h2>Inicia sesión</h2>
            <form class="login__container--form" action="/home.html" method="POST">
                <input class="input" type="text" placeholder="Correo" name="emailLogin">
                <input class="input" type="password" placeholder="Contraseña" name="passwordLogin">

                <!-- Desplegamos mensaje flsh -->
                <!-- {% with messages = get_flashed_messages(with_categories=true) %} -->
                    <!-- Verificamos si hay mensajes -->
                    <!-- {% if messages %} -->
                        <!-- Ciclo para cada mensaje -->
                        <!-- {% for category, message in messages %}
                            <div class="alert {{ category }}" id="idMessageError"> -->
                                <!-- Desplegamos mensaje -->
                                <!-- {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %} -->

                <a href="/home.html"><button class="button">Entrar</button></a>
                <div class="login__container--remember-me">
                    <a href="#">Olvidé mi contraseña</a>
                </div>
            </form>
        </section>
    </section>
</body>
</html>
